
<div class="center hero-unit">
	<h1>Welcome to the Danger App</h1>
	<h2>
		This is the future home of my 
		<a href="http://www.anon.com">Danger App.</a>
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

